/* 
  AUTHOR : MOHIT MALHOTRA
  DATED : 05-07-2018

  This is default style sheet for the complete project. 
  Before working on a project, clean this stylesheet completely or remove it 
  so that no conflicts occur while development.
*/


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* animation for app logo */
@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.code {
  display: inline-block;
  color: #5e5353bf;
  font-family: monospace;
  font-size: 20px;
  font-weight: 600;
  margin: 8px 0px;
}

.theme{
  color: #61dafb;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 100px;
  margin-bottom: 20px;
}

.intro header {
  min-width: 80vh;
  margin: 60px 20px 20px 20px;
  text-align: center;
}

.intro-header{
  display: inline-block;
  position: relative;
}

.intro-title{
  font: bold 38px sans-serif;
  text-transform: capitalize;
  margin-bottom: 14px;
}

.intro-author{
  position: absolute;
  right: 0;
  font: normal 20px monospace;
  color: #333;
}

.intro-body{
  margin: 80px 20px 20px 20px;
  padding: 16px 30px;
  box-shadow: 10px 12px #eae8e869;
}

.intro-body .card-text{
  text-align: center !important;
  margin-bottom: 44px !important;
}

.block{
  margin-top: 40px;
}

.block-title{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 18px 10px;
}

.block .list-group-item {
  text-align: center !important;
}